@media (max-width: 767px) {
.center {
    padding-left: calc(16px);
    padding-right: calc(16px);
}
.top {
    height: 735px;
    

    &__content {
        display: flex;
        flex-direction: column;
        gap: $gap;
        padding-top: 238px;
        align-items: center;
    }

    &__title {
        font-size: 32px;
        line-height: 39px;
        text-align: center;

        &_size {
            max-width: 344px;
        }
    }

    &__text {
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        text-align: center;

        &_size {
            max-width: 344px;
        }

        &_thick {
            font-weight: 700;
        }
    }

    

    }
}



